<h2>{{root.composite_name}}</h2>
<div class="col-md-6">
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Root:</strong></td>
      <td>{{root.root}}</td>
    </tr>
    <tr>
      <td><strong>Meaning:</strong></td>
      <td>{{root.meaning}}</td>
    </tr>
  </table>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          <strong>
            Conjugation
          </strong>
        </th>
        <th>
          <strong>
            Meaning
          </strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conjugation of root.conjugations">
        <td>
          {{conjugation.congjugation}}
        </td>
        <td>
          {{conjugation.form_root.meaning}}
        </td>
      </tr>
      </tbody>
    </table>
</div>
