<h2>HOME</h2>

<canvas id="canvas" width=300 height=300></canvas>
<!-- <div>
    <div id="0" class="draggable">0</div>
    <div id="1" class="draggable">1</div>
    <div id="2" class="draggable">2</div>
    <div id="3" class="draggable">3</div>
</div>
<div id="wrap2">
    <div id="0r" class="draggable right">0</div>
    <div id="1r" class="draggable right">1</div>
    <div id="2r" class="draggable right">2</div>
</div> -->

<ul>
  <li class="right" id='0r'>
    Gpappy
    <ul>
      <li id='1'> pops
        <ul>
          <li>Kid</li>
          <li>Lil Kid</li>
        </ul>
      </li>
      <li id='0'>
        Unlce
      </li>
    </li>
  </ul>
</ul>