<script>
  var famTree= [
  {
    name: "Grandfather",
    gender: "m",
    spouse: {
      name: "Grandmother",
      gender: "f",
      spouse: "already listed"
    },
    children: [
      {
        name: "uncle",
        gender: "m",
        spouse: {
          name: "Married Aunt",
          gender: "f",
          spouse: "already listed"
        },
        children: [
          {
            name: 'cousin',
            gender: "f"
          }
        ]
      },
      {
        name: "Aunt",
        gender: "f",
        spouse: {
          name: "Married Uncle",
          gender: "m",
          spouse: "already listed"
        }
      },
      {
        name: "Aunt",
        gender: "f"
      },
      {
        name: "father",
        gender: "m",
        spouse: {
          name: "Mother",
          gender: "f",
          spouse: "already listed"
        },
        children: [
          {
            name: "self",
            gender: "m",
            spouse: {
              name: "Wife",
              gender: "f",
              spouse: "already listed"
            },
            children: [
              {
                name: 'son',
                gender: "m",
                spouse: {
                  name: "daughter-in-law",
                  gender: "f",
                  spouse: "already listed"
                }
              },
              {
                name: 'daughter',
                gender: "f",
                spouse: {
                  name: "son-in-law",
                  gender: "m",
                  spouse: "already listed"
                }
              }
            ]
          },
          {
            name: 'sister',
            gender: "f",
            spouse: {
              name: "brother-in-law",
              gender: "m",
              spouse: "already listed"
            },
            children: [
              {
                name: "nephew",
                gender: "m",
              },
              {
                name: "niece",
                gender: "m",
              }
            ]
          }
        ]
      }
    ]
  }
]


var FamilyTree = function(jsonObject){

  this.parseGenerations = function(jsonObject){
    var store = [];

    var generations = 1

    while (generations < 5) {
      var current;

      if(store[generations - 2]){
        current = store[generations - 2]
        store[generations - 1] = []

        for (var i = 0, ii = current.length; i < ii; i ++) {
          if (current[i].children){
            var childs = current[i].children
            for (var y = 0, yy = childs.length; y < yy; y ++) {
              childs[y].parentNode = current[i].geneId;
              childs[y].geneId = current[i].geneId + '|' + y;
            }
            store[generations - 1] = store[generations - 1].concat(childs);
          }
        }
      }
      else{
        store[0] = jsonObject
        for (var z = 0, zz = store[0].length; z < zz; z++) {
          store[0][z].geneId = '0|' + z
        };
      }
      generations ++
    }

    return store;
  }

  this.addSpouses = function(rows){
    var result = []
    for (var i = 0, ii = rows.length; i < ii; i++) {
      result[i] = []
      for (var y = 0, yy = rows[i].length; y < yy; y++) {
        subj = rows[i][y]

        if (subj.spouse && subj.spouse != 'already listed'){
          subj.spouse.marriedGeneId = subj.geneId

          if (subj.parentNode){
            subj.spouse.parentNode = subj.parentNode
          }
          if (subj.gender == 'm'){
            result[i].push(subj);
            result[i].push(subj.spouse);
          }
          else{
            result[i].push(subj.spouse);
            result[i].push(subj);
          }
        }
        else{
          result[i].push(subj);
        }
      };
    };
    return result
  }

  this.findLongestRow = function(rows){
    var longestLength = 0

    for (var i = 0, ii = rows.length; i < ii; i++) {
      if (rows[i].length > longestLength){
        longestLength = rows[i].length;
      }
    };

    return longestLength
  }

  this.spaceRows = function(longest, rows){
    var result = rows

    var rowCount = [];
    for (var i = rows.length - 1; i >-1; i--) {

      rowCount[i] = {couples: [], standAlones: [], families: {}}

      for (var x = 0, xx = rows[i].length; x < xx; x++) {
        var subject = rows[i][x];
        subject.spouse ? rowCount[i].couples.push(subject) : rowCount[i].standAlones.push(subject)
        if (!rowCount[i].families[subject.parentNode]){
          rowCount[i].families[subject.parentNode] = {startIndex: x, members: []}
        }
        rowCount[i].families[subject.parentNode].members.push(subject)
      };

      var famKeys = Object.keys(rowCount[i].families);

      if (famKeys.length == 1 && result[i].length < longest){
        var beginning = true
        while (result[i].length < longest) {
          var atIndex;

          if(beginning){
            atIndex = 0
            rowCount[i].families[famKeys[0]].startIndex ++;
          }
          else{
            atIndex = result[i].length
          }

          result[i].splice(atIndex, 0, {gap: true})
          beginning = !beginning
        }
      }
      else if (result[i].length < longest){
        var count =  0

        while (result[i].length < longest) {
          var family = rowCount[i].families[famKeys[count]];

          var range = family.startIndex + family.members.length;
          result[i].splice(range, 0, {gap: true})

          for (var z = 0, zz = famKeys.length; z < zz; z ++) {
            fam = rowCount[i].families[famKeys[z]];
            if (fam.startIndex >= range){
              fam.startIndex ++;
            }
          };

          if (famKeys.length - 1 < count){
            count ++;
          }
          else{
            count = 0;
          }
        }
      }
    };

    return {rows: result, rowCounts: rowCount}
  }

  this.generationRows = this.parseGenerations(jsonObject);
  this.generationRowsWithSpouses = this.addSpouses(this.generationRows);
  this.longestRow = this.findLongestRow(this.generationRowsWithSpouses)
  this.spacedRows = this.spaceRows(this.longestRow, this.generationRowsWithSpouses);

}



x  = new FamilyTree(famTree)

console.log(x.spacedRows)
console.log(x.spacedRows.rows)

// var FamilyTree.prototype.writeToDom = function(){

// }

</script>









<style>

  .fam-tree-grid{
    width: 1250px;
    height: 1250px;
    background-color: orange;

    /*remove odd spaces*/
    font-size: 0;
  }

  .fam-tree-grid .person-row{
    background-color: green;
    width: 100%;
    height: 1.5%;
  }

  .fam-tree-grid .person-row .person-square{
    background-color: #aaa;
    vertical-align: top;
    display: inline-block;
    width: 13%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .fam-tree-grid .person-row .person-square p{
    margin-top: 0;
    text-align: center;
    font-size: 15px;
  }

  .fam-tree-grid .person-row .relation-column{
    background-color: #888;
    display: inline-block;
    vertical-align: top;
    width: 1.5%;
    height: 100%;
    padding: 0;
    margin: 0;
  }


  .fam-tree-grid .relation-row{
    background-color: purple;
    width: 100%;
    height: 1.5%;
  }

  .fam-tree-grid .relation-row .person-square{
    background-color: #888;
    vertical-align: top;
    display: inline-block;
    width: 13%;
    height: 100%;

    padding: 0;
    margin: 0;
  }

  .fam-tree-grid .relation-row .relation-column{
    background-color: #aaa;
    display: inline-block;
    vertical-align: top;
    width: 1.5%;
    height: 100%;

    padding: 0;
    margin: 0;
  }

  .bisected .top-inner-cross{
    height: 50%;
    border-bottom: 1px solid black;
  }

  .bottom-right .top-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-right .bottom-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-right .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;

  }

  .bottom-right .top-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-bottom: 1px solid black;
  }

  .bottom-right .bottom-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-right: 1px solid black;

  }

  .bottom-right .bottom-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }


  .bottom-left .top-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-left .bottom-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-left .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-bottom: 1px solid black;
  }

  .bottom-left .top-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .bottom-left .bottom-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-right: 1px solid black;
  }

  .bottom-left .bottom-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }



  .top-right-top-left .top-inner-cross {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
  }

  .top-right-top-left .bottom-inner-cross {
    width: 100%;
    height: 50%;
  }

  .top-right-top-left .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .top-right-top-left .top-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .top-right-top-left .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-right: 1px solid black;
  }

  .top-right-top-left .bottom-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }


  .bottom-right-bottom-left .top-inner-cross {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
  }

  .bottom-right-bottom-left .bottom-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-right-bottom-left .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .bottom-right-bottom-left .top-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .bottom-right-bottom-left .bottom-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-right: 1px solid black;
  }

  .bottom-right-bottom-left .bottom-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }


  .bottom-left-to-up .top-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-left-to-up .bottom-inner-cross {
    width: 100%;
    height: 50%;
  }

  .bottom-left-to-up .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .bottom-left-to-up .top-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .bottom-left-to-up .top-inner-cross .left-side{
    width: 50%;
    display: inline-block;
    height: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .bottom-left-to-up .bottom-inner-cross .right-side{
    width: 50%;
    display: inline-block;
    height: 100%;
  }


</style>
<div class="fam-tree-grid">
  <div class="person-row">
    <div class="person-square">

    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">

    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Grandfather</p>
    </div>
    <div class="relation-column bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Grandmother</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">

    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">

    </div>
  </div>
  <div class="relation-row">
    <div class="person-square bottom-right">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column top-right-top-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">

    </div>
  </div>
  <div class="person-row">
    <div class="person-square">
      <p>Uncle</p>
    </div>
    <div class="relation-column bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Married Aunt</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Married Uncle</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Aunt</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Aunt</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Father</p>
    </div>
    <div class="relation-column bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Mother</p>
    </div>
  </div>
  <div class="relation-row">
    <div class="person-square bottom-right">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bottom-left-to-up">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">

    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-right">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column top-right-top-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
  </div>
  <div class="person-row">
    <div class="person-square">
      <p>Cousin</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">

    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">

    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Self</p>
    </div>
    <div class="relation-column bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Wife</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Brother-in-law</p>
    </div>
    <div class="relation-column bottom-right-bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Sister</p>
    </div>
  </div>
  <div class="relation-row">
    <div class="person-square">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-right">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column top-right-top-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-right">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column top-right-top-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square bottom-left">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
  </div>
  <div class="person-row">
    <div class="person-square">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="relation-column">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Son</p>
    </div>
    <div class="relation-column bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Daughter-in-law</p>
    </div>
    <div class="relation-column">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Son-in-law</p>
    </div>
    <div class="relation-column  bisected">
      <div class="top-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
      <div class="bottom-inner-cross">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="person-square">
      <p>Daughter</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Nephew</p>
    </div>
    <div class="relation-column">

    </div>
    <div class="person-square">
      <p>Niece</p>
    </div>
  </div>
</div>


<div class="fam-tree-grid" id="fill-me">

<div>





<script>
console.log('asdasd')
  var filler = document.getElementById("fill-me");
  var row = document.createElement("Div")
  row.className = 'person-row'

  for (var i = 0, ii = x.spacedRows.rows[0].length; i < ii; i++) {
    var cell = document.createElement("Div")
    var ptag = document.createElement("P")
    cell.className = 'person-square'

    if (x.spacedRows.rows[0][i].name){
      ptag.innerHTML  = x.spacedRows.rows[0][i].name
    }

    row.appendChild(cell)
    cell.appendChild(ptag)
    if (i != ii - 1) {
      var relationCell = document.createElement("Div")
      relationCell.className = 'relation-column'
      row.appendChild(relationCell)
    }
  };

  filler.appendChild(row)
</script>