<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>

        </th>
        <% @attributes.each do |attrib| %>
          <th>
            <%= attrib%>
          </th>
        <%end%>
    </thead>
    <% @objects.each do |object| %>
        <tr>
          <td>
            <a href="<%= sa_show_path(sa_model: object.class.name, sa_id: object.id) %>">Show:</a>
          </td>
          <% @attributes.each do |attrib| %>
          <td>
            <%= object.send(attrib)%>
          </td>
        <%end%>
        </tr>
    <% end %>
  </table>
</div>
