<ul class="family_tree">
    <li class="parentless">GPA</li>
    <li class="marriage">  &nbsp
        <ul class="children">
            <br>
            <li class="parented">Uncle</li>
            <li class="marriage"> &nbsp</li>
            <li class="parentless">Aunt</li>
            <li class="parented">Father</li>
            <li class="marriage">
                 &nbsp
                <ul class="children">
                    <br>
                    <li class="parented">Son</li>
                    <li class="parented">Daughter</li>
                </ul>
            </li>
            <li class="parentless">Mother</li>
        </ul>
    </li>
    <li class="parentless">GMA</li>
</ul>

