<h2>{{character.composite_name}}</h2>
<div class="col-md-12">
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Native Name:</strong></td>
      <td>{{character.native_name}}</td>
    </tr>
    <tr>
      <td><strong>Native Translation:</strong></td>
      <td>{{character.native_translation}}</td>
    </tr>
    <tr>
      <td><strong>Bailic Name:</strong></td>
      <td>{{character.bailic_name}}</td>
    </tr>
    <tr>
      <td><strong>Bailic Translation:</strong></td>
      <td>{{character.bailic_translation}}</td>
    </tr>
    <tr>
      <td><strong>Nick Name:</strong></td>
      <td>{{character.native_name}}</td>
    </tr>
    <tr>
      <td><strong>Real Person:</strong></td>
      <td>{{character.real_person}}</td>
    </tr>
    <tr>
      <td><strong>Sex:</strong></td>
      <td>{{character.sex}}</td>
    </tr>
    <tr>
      <td><strong>Fighting Class:</strong></td>
      <td>{{character.fighting_class}}</td>
    </tr>
    <tr *ngIf="character.primary_house">
      <td><strong>Primary House:</strong></td>
      <td>{{character.primary_house.name}}</td>
    </tr>
    <tr *ngIf="character.father">
      <td><strong>Father:</strong></td>
      <td>
        <characterLink [character]="character.father"></characterLink>
      </td>
    </tr>
    <tr *ngIf="character.mother">
      <td><strong>Mother:</strong></td>
      <td>
        <characterLink [character]="character.mother"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let sib of character.siblings">
      <td><strong>{{character.sex == 'M' ? 'Brother' : 'Sister'}}:</strong></td>
      <td>
        <characterLink [character]="sib"></characterLink>
      </td>
    </tr>
  </table>
</div>
