<h2>{{character.composite_name}}</h2>
<div class="col-md-12">
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Native Name:</strong></td>
      <td>{{character.native_name}}</td>
    </tr>
    <tr>
      <td><strong>Native Translation:</strong></td>
      <td>{{character.native_translation}}</td>
    </tr>
    <tr>
      <td><strong>Bailic Name:</strong></td>
      <td>{{character.bailic_name}}</td>
    </tr>
    <tr>
      <td><strong>Bailic Translation:</strong></td>
      <td>{{character.bailic_translation}}</td>
    </tr>
    <tr>
      <td><strong>Nick Name:</strong></td>
      <td>{{character.native_name}}</td>
    </tr>
    <tr>
      <td><strong>Real Person:</strong></td>
      <td>{{character.real_person}}</td>
    </tr>
    <tr>
      <td><strong>Sex:</strong></td>
      <td>{{character.sex}}</td>
    </tr>
    <tr>
      <td><strong>Fighting Class:</strong></td>
      <td>{{character.fighting_class}}</td>
    </tr>
    <tr *ngIf="character.primary_house">
      <td><strong>Primary House:</strong></td>
      <td>{{character.primary_house.name}}</td>
    </tr>
    <tr *ngIf="character.father">
      <td><strong>Father:</strong></td>
      <td>
        <a [routerLink]="['Character', {id: character.father.id }]">
          {{character.father.composite_name}}
        </a>
      </td>
    </tr>
    <tr *ngIf="character.mother">
      <td><strong>Mother:</strong></td>
      <td>
        <a [routerLink]="['Character', {id: character.mother.id }]">
          {{character.mother.composite_name}}
        </a>
      </td>
    </tr>
    <tr *ngFor="let sib of character.siblings">
      <td><strong>Sibling:</strong></td>
      <td>
        <a [routerLink]="['Character', {id: sib.id }]">
          {{sib.composite_name}}
        </a>
      </td>
    </tr>
  </table>
</div>
