<h2>{{character.composite_name}}</h2>
<div class="col-md-12">
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Native Name:</strong></td>
      <td>{{character.native_name}}</td>
    </tr>
    <tr>
      <td><strong>Native Translation:</strong></td>
      <td>{{character.native_translation}}</td>
    </tr>
    <tr>
      <td><strong>Bailic Name:</strong></td>
      <td>{{character.bailic_name}}</td>
    </tr>
    <tr>
      <td><strong>Bailic Translation:</strong></td>
      <td>{{character.bailic_translation}}</td>
    </tr>
    <tr>
      <td><strong>Nick Name:</strong></td>
      <td>{{character.native_name}}</td>
    </tr>
    <tr>
      <td><strong>Real Person:</strong></td>
      <td>{{character.real_person}}</td>
    </tr>
    <tr>
      <td><strong>Sex:</strong></td>
      <td>{{character.sex}}</td>
    </tr>
    <tr *ngFor="let peerage of character.peerages">
      <td>
        <strong>
          Peerage:
        </strong>
      </td>
      <td>
        {{peerage.title}}
      </td>
    </tr>
    <tr>
      <td><strong>Fighting Class:</strong></td>
      <td>{{character.fighting_class}}</td>
    </tr>
    <tr *ngIf="character.primary_house">

      <td><strong>Primary House:</strong></td>
      <td>
        <a [routerLink]="['House', {id: character.primary_house.id }]">
        {{character.primary_house.name}}
        </a>
      </td>
    </tr>
    <tr *ngIf="character.current_spouse">
      <td><strong>Spouse:</strong></td>
      <td>
        <characterLink [character]="character.current_spouse"></characterLink>
      </td>
    </tr>
    <tr *ngIf="character.father">
      <td><strong>Father:</strong></td>
      <td>
        <characterLink [character]="character.father"></characterLink>
      </td>
    </tr>
    <tr *ngIf="character.mother">
      <td><strong>Mother:</strong></td>
      <td>
        <characterLink [character]="character.mother"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let sib of character.siblings">
      <td>
        <strong>
          {{sib.sex == 'M' ? 'Brother' : 'Sister'}}:
        </strong>
      </td>
      <td>
        <characterLink [character]="sib"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let child of character.children">
      <td>
        <strong>
          {{child.sex == 'M' ? 'Son' : 'Daughter'}}:
        </strong>
      </td>
      <td>
        <characterLink [character]="child"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let grandchild of character.grandchildren">
      <td>
        <strong>
          {{grandchild.sex == 'M' ? 'Grand Son' : 'Grand Daughter'}}:
        </strong>
      </td>
      <td>
        <characterLink [character]="grandchild"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let grandparent of character.compact_grandparents">
      <td>
        <strong>
          {{grandparent.sex == 'M' ? 'Grandfather' : 'Grandmother'}}:
        </strong>
      </td>
      <td>
        <characterLink [character]="grandparent"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let great_grandparent of character.compact_great_grandparents">
      <td>
        <strong>
          {{great_grandparent.sex == 'M' ? 'Great-Grandfather' : 'Great-Grandmother'}}:
        </strong>
      </td>
      <td>
        <characterLink [character]="great_grandparent"></characterLink>
      </td>
    </tr>
    <tr *ngFor="let great_grandchild of character.great_grandchildren">
      <td>
        <strong>
          {{great_grandchild.sex == 'M' ? 'Great-Grand Son' : 'Great-Grand Daughter'}}:
        </strong>
      </td>
      <td>
        <characterLink [character]="great_grandchild"></characterLink>
      </td>
    </tr>
  </table>
</div>
