<h1> Timelines </h1>

<table class="main-table">
  <thead>
    <tr>
      <th class="left-tab-header">
        Name
      </th>
      <th class="right-tab-header">
        Description
      </th>
    </tr>
  </thead>

  <% @timelines.order(:authority_level).each do |timeline| %>
    <tr>
      <td>
        <%= timeline.name %>
      </td>
      <td>
        <%= timeline.desrcription %>
      </td>
    </tr>
  <% end %>

</table>
