.family_tree{
  list-style: none;
  width: 10000px;
}

.family_tree ul{
  list-style: none;
}

.children{
  margin-top: 25px;
}

.marriage{
  text-align: center;
  border-top: 2px solid black;
  margin-top: 6px;
  margin-left: 0;
}

li{
  padding-right: 1px;
  padding-left: 4px;
  margin-left: -1px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 0;
  overflow: visible;
}

ul{
  padding: 0;
}

li.parented::before{
  content: " ";
  position: relative; top: -25px; left: 17px;
  border: 1px solid black;
  width: 50%; height: 20px;
}

.parented{
  text-align: center;
}