{{attributes}}
<table>
  <tr>
    <td>Bailic Name:</td>
    <td>{{object.bailic_name}}</td>
  </tr>
  <tr>
    <td> Native Name:</td>
    <td>{{object.native_name}}</td>
  </tr>
  <tr>
    <td> Nick Name:</td>
    <td>{{object.nickname}}</td>
  </tr>
  <tr>
    <td> Primary House:</td>
    <td><a ng-href="#/houses/{{object.primary_house.id}}">{{object.primary_house.name}}</a></td>
  </tr>
  <tr>
    <td> Real Person:</td>
    <td>{{object.real_person}}</td>
  </tr>
  <tr>
    <td> Fighting Class:</td>
    <td>{{object.fighting_class}}</td>
  </tr>
  <tr>
    <td> Father:</td>
    <td><a ng-href="#/characters/{{object.father.id}}">{{object.father.composite_name}}</a></td>
  </tr>
  <tr>
    <td> Mother:</td>
    <td><a ng-href="#/characters/{{object.mother.id}}">{{object.mother.composite_name}}</a></td>
  </tr>
  <tr ng-repeat="child in object.children">
    <td>Child:</td>
    <td><a ng-href="#/characters/{{child.id}}">{{child.composite_name}}</a></td>
  </tr>
</table>